<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Ups, algo ha ido mal!</h1>
        <form action = "/" method = "get">
        	<p><input type = "submit" value = "Volver" /></p>
      </form>
    </body>
</html>