<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <!--- <a href='/'>Logout</a> --->
        <img src="static/logoTrin.png" alt=" * ">    
       
        <form action = "/stemming" method = "post">
            <p>Introduce el texto que quieres procesar</p>
            <textarea rows="4" cols="50" name="textToPNL">El texto aqui...</textarea>
            <p><input type = "submit" value = "Procesar" /></p>
        </form>

        <form action = "/search" method = "post">
            <p>Buscador de cosas</p>
            <p><input type = "submit" value = "Ir" /></p>
        </form>
        
        <form action = "/" method = "get">
            <p>Hola {{name}}, no eres tu?</p>
            <p><input type = "submit" value = "Volver" /></p>
        </form>
      
    </body>
</html>