<html>
    <head>
        <title>{{ title }} - Trin</title>
    </head>
    <body>
        <h1>Hello, {{ data.company }}!</h1>
        <!---<a href='/test'>Next</a>--->
        <img src="static/logoTrin.png" alt=" * "> 
        <form action = "/" method = "post">
            <p>Hola! quien eres?:</p>
            <p>Usuario: <input type = "text" name = "name" /></p>
            <p>Contraseña: <input type = "password" name = "password" /></p>
        	<p><input type = "submit" value = "Acceder" /></p>
      </form>
    </body>
</html>