<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <!--- <a href='/'>Logout</a> --->
        <img src="static/logoTrin.png" alt=" * ">    
       
        <p>EN CONSTRUCCIÓN...</p>
        <p>Recibido zona {{result.zona}}, {{result.precio}} y {{result.tipo}}</p>     


        <form action = "/search" method = "head">
            <p><input type = "submit" value = "Volver" /></p>
        </form>
      
    </body>
</html>