<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <!--- <a href='/'>Logout</a> --->
        <img src="static/logoTrin.png" alt=" * ">    
       
        <p>EN CONSTRUCCIÓN...</p>
        
        <form action = "/results" method = "post">
            <p>Hola! Que buscas?:</p>
            <fieldset>
                <legend>Crierios de Busqueda:</legend>
                <p>Zona: <input type = "text" name = "zona" /></p>
                <p>Precio: <input type = "text" name = "precio" /></p>
                <p><input type="radio" name="tipo" id="opcion1" value="Alquiler"> Alquiler </input>
                <input type="radio" name="tipo" id="opcion2" value="Compra"> Compra </input></p>
                <p><input type = "submit" value = "Buscar" /></p>
            </fieldset>
        </form>

        <form action = "/home" method = "head">
            <p><input type = "submit" value = "Volver" /></p>
        </form>
      
    </body>
</html>