<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <!--- <a href='/'>Logout</a> --->
        <img src="static/logoTrin.png" alt=" * ">    
        <p>El resultado de procesar el texto es: {{stemming_result}}</p>
        <form action = "/home" method = "head">
            <p><input type = "submit" value = "Volver" /></p>
        </form>
    </body>
</html>